/* CSS Document */
/* CSS Document */
/************************************************************************************
	WIDTHS
*************************************************************************************/
/************************************************************************************
smaller than 1040
*************************************************************************************/
@media screen and (max-width: 1200px) {
  .lgwrap {
    width: 100%; } }
/************************************************************************************
smaller than 960
*************************************************************************************/
@media screen and (max-width: 960px) {
  .wrap {
    width: 100%; }

  p, .pagefoot {
    width: 96%;
    padding: 0 2%; }

  .nav li a {
    padding: 0 10px; }

  .footer {
    min-height: 50px;
    height: auto; }

  .form-row {
    width: 96%;
    margin: 5px 2%; }

  .pagination.paging {
    display: none; }

  .pagination.mobile-page {
    display: block;
    width: 90%;
    margin: 20px 5% 0; }

  .catsearch {
    margin-bottom: 10px; }

  .product-image {
    width: 20%; }

  .product-name {
    width: 60%;
    line-height: 30px;
    margin-top: 10px; }

  .product-price {
    width: 10%;
    float: right; }

  .add-product {
    display: none; }

  .product-link {
    width: 100%; }

  .pg-bar {
    display: block;
    background: #fff;
    color: #808080;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    font-family: "opensans", Arial, sans-serif;
    font-size: 24px;
    float: left;
    clear: both; }

  article.galimg {
    width: 46%; }

  .pageblock .pagetext, .pagetext_contact {
    width: 92%;
    margin: 0 2%;
    padding: 20px 2%; }

  .greybar {
    font-size: 50px; }

  .testimonialrow .testimonial-text {
    width: 98%;
    padding: 0; }

  .testimonialrow .testimonial-images {
    position: relative;
    width: 98%;
    height: 200px;
    left: 0; }
    .testimonialrow .testimonial-images img {
      width: auto !important;
      height: auto !important;
      max-width: 100% !important;
      max-height: 100% !important; } 
	  
	  
	 .pagetext iframe { max-width: 100%; }
	 
	 
	.pagetext_contact {
		
		height: auto;
		width: auto;
		background-size: cover;
		background-position: center;
	}
	 
}
	 
/************************************************************************************
smaller than 850
*************************************************************************************/
/************************************************************************************
smaller than 750
*************************************************************************************/
@media screen and (max-width: 800px) {
  .testimonial-block .testimonial-text {
    width: 98%; }
  .testimonial-block .testimonial-images {
    position: relative;
    width: 98%;
    left: 0;
    height: 200px; }
    .testimonial-block .testimonial-images img {
      width: auto !important;
      height: auto !important;
      max-width: 100% !important;
      max-height: 100% !important; }
  .testimonial-block .testimonial-holder {
    height: auto;
    min-height: 100px; }
    .testimonial-block .testimonial-holder .wrap {
      min-height: 100px; }

  .topblocks .topblock {
    width: 96%;
    padding: 0 2%; }

  .featureblocks .col4 {
    width: 48%; }

  .nav li a {
    font-size: 11px;
    padding: 0 5px; }

  a.logo {
    height: 100px; }

  a.donatenow {
    top: 105px; }

  .header {
    height: 200px; }

#googleCSE {
 left: 50%;
 margin-top: 5%;
 padding: 0;
 width: 50%;
 border: none;
 padding: 0;
 }	
	
	 }
/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {
  a.logo {
    height: 30px;
    width: 45%;
    margin-left: 5%;
    background-position: center left; }

  .pagelogo {
    height: 30px;
    margin: 10px 0; }

  a.donatenow {
    height: 50px;
    line-height: 50px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 50px;
	padding: 0;
    width: 100%; }
	a.donatenow span.tc { text-indent: -9999px; height: 50px; display: block; }
	a.donatenow span.tc:before {
		content: "Please Donate Now";
		width: 100%;
		text-align: center;
		line-height: 50px;
		display: block;
		text-indent: 0;
	}

  .midblock {
    margin-top: 50px; }

  .indexblock .indeximg {
    display: none; }
  .indexblock .indextext, .indexblock.indextext.small {
    width: 96%;
    margin: 0; }

  #main {
    padding-bottom: 0px;
    overflow: hidden; }

  .menu-links, .headcart {
    display: none; }

  .menu-links.longmenu {
    position: absolute;
    width: 100%;
    top: 50px !important;
    overflow-y: scroll; }
    .menu-links.longmenu .nav {
      top: 0; }

  .topblocks .topblock {
    height: 100px; }

  .featureblocks {
    margin-top: 20px; }
    .featureblocks .col4 {
      width: 96%; }
    .featureblocks .featuretext {
      line-height: normal;
      padding: 0 2%;
      width: 96%; }

  .mobile-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    z-index: 50; }
    .mobile-menu .line {
      float: left;
      clear: both;
      height: 4px;
      margin: 3px 0;
      background: #999;
      width: 100%; }

  .header {
    height: 50px;
    position: fixed;
    z-index: 500;
    border-bottom: 0; }
    .header .nav {
      display: none;
      border-top: 1px solid #999;
      top: 50px;
      position: absolute;
      line-height: 45px; }
      .header .nav .mobilemaster {
        display: block; }
      .header .nav li {
        width: 100%;
        float: left;
        clear: both;
        height: auto;
        background: white;
        border-bottom: 1px solid #999; }
        .header .nav li a {
          font-size: 13px; }
          .header .nav li a:hover:before, .header .nav li a.select:before {
            display: none; }
        .header .nav li ul {
          top: 0;
		  left: 0;
          position: relative;
          padding: 0;
          width: 100%;
          float: left;
          border-top: 1px solid #999; }
          .header .nav li ul li {
            background: #80874b;
            border-bottom: 1px solid #fff; }
            .header .nav li ul li a {
              text-align: center;
              padding: 0;
              line-height: 40px;
              width: 100%;
              color: #fff; }
			  .header .nav li ul li a.select:before {
				  display: none;
			  }
            .header .nav li ul li:last-child {
              border-bottom: none; }
    .header .menu-links, .header .mobile-menu {
      display: block; }

  .pageblock .pagetext, .pagetext_contact {
    border-radius: 0;
    -webkit-border-radius: 0;
    margin: 0;
    width: 96%;
    border: none;
    -webkit-box-shadow: none;
    ox-shadow: none; }

  .topblocks {
    margin-top: 0; }

  .footer {
    text-align: center;
    height: auto;
    margin-top: 0;
    z-index: 1; }

  .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10 {
    width: 96%;
    margin: 5px 2%; }

  .form-row .form-label {
    width: 100%; }
  .form-row .form-input {
    width: 100%; }
  .form-row .form-input input, .form-row .form-input select, .form-row .form-input textarea {
    width: 96%;
    padding: 10px 2%; }
  .form-row .form-input img {
    max-width: 100% !important; }
  .form-row .form-input input[type="submit"] {
    width: 100%;
    padding: 10px 0;
    height: auto; }
  .form-row .form-label.securitylabel {
    display: none; }

  span.pcode {
    font-size: 16px; }

  article.galimg {
    width: 96%; }

  .featureblocks .col3 {
    width: 96%; }

  .testimonial-block .testimonial-text .short_test {
    padding-left: 0; }

  .testimonial-block .testimonial-text, .testimonial-block .testimonial-images {
    width: 96%; }

  .btn {
    width: 100%;
    margin: 0; }

  .footmid .social-media li, .footmid .social-media li:first-child {
    border: none;
    width: auto;
    padding: 0 10px; }

  .footmid .social-media li a {
    width: auto; }

  #gmap {
    height: 200px; }

  .footer .bottomcol {
    width: 96%;
    text-align: center;
    padding-bottom: 20px; }

  ul.footnav li a {
    line-height: 30px; }

  .testimonial-block .blockheader {
    font-size: 14px; }

  .greybar {
    font-size: 24px; }

  .contact-submit {
    width: 100%;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 0; }

  .form-input img {
    width: 100%; }

  .pagination .pgbtn {
    width: 48%;
    line-height: 40px; }
    .pagination .pgbtn.pg-next {
      float: right; }
  .pagination .pgnumblock {
    display: none; }

  .footer .milestone {
    height: auto;
    display: block; }
    .footer .milestone .badge {
      position: static;
      top: 0;
      left: 0;
      height: auto;
      display: block;
      width: 96%;
      padding: 0 2%; }
  .footer .orangebar {
    clear: both;
    height: auto;
    font-size: 20px;
    line-height: normal;
    padding: 10px 0; }
  .footer .copyright {
    line-height: normal;
    padding: 20px 0; }
    .footer .copyright span {
      float: left;
      clear: both;
      display: block;
      text-align: center;
      width: 100%;
      border: none;
      padding: 5px 0; }
    .footer .copyright:after {
      content: "";
      clear: both;
      display: block; } 
	  
	
	.pagetext_contact .col8 {
		width: 96%;
		left: 0;
	}
	
	.pageblock .pagetext img {
		height: auto !important;
		margin: 10px 0 !important;
	}
	
	.footer .orangebarwrap { display: none; }
	.footer .footlinkblock {
		position: relative;
		top: 0;
		clear: both;
		
		background: #FA9D1B;
		height: auto;
		border-radius: 0 0 0 30px;
		-webkit-border-radius: 0 0 0 30px;
		-webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.8);
		box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.8);
		color: #FCC87F;
		position: relative;
		z-index: 1;
	}
	.footer .footlinkblock a {
		padding: 10px 5%;
		width: 90%;
		border-bottom: 1px solid #777;
		height: 40px;
	}
	.footer .footlinkblock a:last-child {
		border-bottom: none;
	}
	.footer .footlinkblock a:after {
		display: none;
	}
	.footer .footlinkblock .wrap:after {
		content: "";
		display: block;
		clear: both;
	}
	.bc { display: none; }
	
	.realstoriespage {
		width: 40%;
	}
	
	.storiesside.col3 {
		width: 96% !important;
	}
	.news-archives .month {
		width: 90%;
		margin: 10px 5%;
	}
	
	.yourstory-link {
		width: 90%;
		padding: 5px 5%;
		text-align: center;
		margin: 40px 0;
		line-height: 40px;
	}
	
	
	.teamlist .teamblock {
		border: none !important;
		margin: 0 auto;
		display: block;
		float: none;
		clear: both;
		width: 100%;
		padding: 0;
	}
	.pageblock .pagetext .teamimgblock img {
		margin-top: 0 !important;
	}
	 
	.tl-email { margin-left: 10px; } 

#googleCSE {
 left: 25%;
 margin: 0;
 padding: 0;
 width: 50%;
 border: none;
 padding: 0;
 }

	}
/************************************************************************************
smaller than 500
*************************************************************************************/
